<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romas Bitinas</title>
  </head>
  <body>
    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="btn btn-link">Home</a>
        <a href="/portfolio" class="btn btn-link">Portfolio</a>
      </section>
      <section class="navbar-section">
        <a href="/articles" class="btn btn-link">Articles</a>
        <a href="/contacts" class="btn btn-link">Contacts</a>
      </section>
    </header>
    <main class="main">
      {{{body}}}
    </main>
    <footer class="footer">
      <div class="footer__wrapper">
        <a href="https://github.com/pupixipup">
          <img class="footer__item" src="images/github.png" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/romas-bitinas-b90187232/">
          <img class="footer__item" src="images/ln.png" alt="LinkedIn">
        </a>
      </div>
    </footer>
  </body>
</html>