<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <meta charset="UTF-8">
    <title>Hello</title>
  </head>
  <body>
<header class="navbar">
  <section class="navbar-section">
    <a href="/" class="btn btn-link">Home</a>
    <a href="/portfolio" class="btn btn-link">Portfolio</a>
  </section>
  <section class="navbar-center">
    <!-- centered logo or brand -->
  </section>
  <section class="navbar-section">
    <a href="/articles" class="btn btn-link">Articles</a>
    <a href="/contacts" class="btn btn-link">Contacts</a>
  </section>
</header>
    <h1>My Website</h1>
    {{{body}}}
    <footer>
      Footer
    </footer>
  </body>
</html>