<div class="article">
  <div class="article__wrapper">
    <img src="/uploads/{{post.imageUrl}}" alt="" class="article__img">
    <h3 class="article__title">{{post.title}}</h3>
    <p class="article__text">{{post.description}}</p>
  </div>
</div>