<h3>Articles</h3>
<a href="/articles/create">Create new post</a>
{{#if posts.length}}
  <div class="articles">
    <div class="articles__wrapper">
      {{#each posts}}
        <div class="articles__item">
          <img class="articles__item-img" src="uploads/{{imageUrl}}" alt="{{title}}"/>
          <h4>
            <a class="articles__item-title" href="articles/{{id}}">{{title}}</a>
            </h4>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}