<h2 class="contacts__title">Contacts</h2>
<ul class="contacts__list">
  <li class="contacts__item">
    <img class="contacts__item-img" src="images/ln.png" alt="GitHub">
    <a class="contacts__item-link" href="https://www.linkedin.com/in/romas-bitinas-b90187232/">LinkedIn</a>
  </li>
  <li class="contacts__item">
    <img class="contacts__item-img" src="images/github.png" alt="GitHub">
    <a href="https://github.com/pupixipup">GitHub</a>
  </li>
  <li class="contacts__item">
    <img class="contacts__item-img" alt="Telegram" src="https://img.icons8.com/ios-filled/50/000000/telegram.png"/>
    <a href="https://t.me/RomasBitinas">Telegram (@RomasBitinas)</a>
  </li>
</ul>
