<h1>Create post</h1>
<form action="/articles/create" method="post" class="article-form" enctype="multipart/form-data">
  <input required type="text" class="article-form__title" name="title">
  <input required type="text" class="article-form__text" name="text">
  <input required type="file" id="image-input" name="imageUrl" accept="image/jpeg, image/png, image/jpg">
  <button type="submit" class="article-form__submit">Create new post</button>
</form>