{{#if isLoggedIn}}
  <h2>Edit comment</h2>
  <form action="/articles/comment/{{id}}/edit" method="post">
    <input
      required
      minlength="5"
      maxlength="100"
      type="text"
      name="comment"
      placeholder="Edit comment"
      value="{{comment}}"
      id=""
    />
    <button type="submit">Edit comment</button>
  </form>
{{else}}
  <h2>You must be logged in to edit comments</h2>
{{/if}}