<div class="home">
  <div class="home__wrapper">
  <img class="home__icon" src="https://media.giphy.com/media/M9gbBd9nbDrOTu1Mqx/giphy.gif"/>
  <h3 class="home__title">Hi, this is my portfolio website!</h3>
  <p class="home__description">Here you can find more about me, see my works (<a href="/portfolio">Portfolio</a>) and read my posts (<a href="/articles">Articles</a>).</p>
  </div>
</div>