<div class="about">
  <div class="about__wrapper">
    <img src="images/home/me.jpg" alt="" class="about__img" />
    <h3 class="about__title">About Me</h3>
    <p class="about__text">I am enthusiastic Frontend Engineer seeking an
      entry-level position to apply my skills in programming and assisting in
      the projects. My main stack is TypeScript + React.</p>
  </div>
</div>
<div class="stack">
  <h2 class="stack__title">Main stack</h2>
  <div class="stack__wrapper">
    <div class="stack__item">
      <img src="images/home/html.png" alt="" class="stack__item-img" />
      <h3 class="stack__item-name">HTML5</h3>
    </div>
    <div class="stack__item">
      <img src="images/home/ts.png" alt="" class="stack__item-img" />
      <h3 class="stack__item-name">TypeScript</h3>
    </div>
    <div class="stack__item">
      <img src="images/home/sass.png" alt="" class="stack__item-img" />
      <h3 class="stack__item-name">SCSS/SASS</h3>
    </div>
    <div class="stack__item">
      <img src="images/home/react.png" alt="" class="stack__item-img" />
      <h3 class="stack__item-name">React</h3>
    </div>
  </div>
</div>