<div class="portfolio">
  <h3>Portfolio</h3>
  <div class="skills">
    <h4 class="skills__title">Skills</h4>
    {{#if skills.length}}
    <div class="skills__wrapper">
      {{#each skills}}
        <div class="skills__item">
          <h4 class="skills__item-name">{{title}}</h4>
          <div class="skills__item-bar">
            <div class="inner-bar skill-{{skill}}"></div>
          </div>
        </div>  
        {{/each}}    
    </div>
    {{/if}}
      <a href="/portfolio/edit">Edit portfolio</a>
  </div>
</div>