.articles__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.articles {
  max-width: 450px;
  margin: 0 auto;
}

.articles__item {
  width: 100%;
}

.articles__item-img {
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}

.article__wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.article__img {
  object-fit: cover;
  max-width: 500px;
  max-height: 500px;
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}

.article__title {
  text-align: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 15px;
}

.hidden {
  display: none;
}

.article__form-text {
  outline: none;
  margin-bottom: 15px;
}

#image-input {
  margin-bottom: 15px;
}

.articles-form {
 display: flex;
 gap: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination__item {
  padding: 2px 10px;
  border:1px solid rgb(104, 121, 200);
}

.comment-form__nickname {
  padding: 0 5px;
  margin-bottom: 15px;
  align-self: start;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

.comment-form__comment {
  margin-bottom: 15px;
  resize: none;
}

.comment {
  padding: 10px;
  border: 1px solid rgb(126, 126, 126);
  margin-bottom: 10px;
  border-radius: 15px;
}

.article-form__title {
  margin-bottom: 15px;
  outline: none;
}

.article-form__submit:hover {
  cursor: pointer;
}

.article-form__submit {
  background: rgb(39, 67, 189);
  color: white;
  font-weight: 500;
  border: none;
  align-self: start;
  padding: 5px 10px;
}

.article-form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.comment__nickname {
  text-transform: capitalize;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}