.navbar {
  padding: 15px 15px;
  border-bottom: 2px solid rgba(0, 0, 0, .7);
  margin-bottom: 35px;
}

@media (max-width: 450px) {
  .navbar {
    flex-direction: column;  
  }
  .navbar-section {
    align-self: start;
  }
}

.center {
  display: flex;
  justify-content: center;
}

main,
footer,
header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

main {
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  padding-top: 5px;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.footer__wrapper {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.footer__item {
  width: 30px;
}

.footer__item:hover {
  opacity: .7;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: start;
}

input[type="submit"], button[type="submit"] {
  cursor: pointer;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0px rgba(1, 0, 0, 0.45);
  border-color: transparent;
  color: #5755d9
}

input[type="submit"]:hover {
  transition: .3s;
  opacity: .7;
}